@model IPBProjekt.Models.Kursant

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Kursant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumerKursanta" class="control-label"></label>
                <input asp-for="NumerKursanta" class="form-control" />
                <span asp-validation-for="NumerKursanta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailAdress" class="control-label"></label>
                <input asp-for="EmailAdress" class="form-control" />
                <span asp-validation-for="EmailAdress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataUrodzenia" class="control-label"></label>
                <input asp-for="DataUrodzenia" class="form-control" />
                <span asp-validation-for="DataUrodzenia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imie" class="control-label"></label>
                <input asp-for="Imie" class="form-control" />
                <span asp-validation-for="Imie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nazwisko" class="control-label"></label>
                <input asp-for="Nazwisko" class="form-control" />
                <span asp-validation-for="Nazwisko" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

